

<div class="card column m-2">
    <header class="card-header">
      <a href="/post/{{post.id}}">
       <p class="card-header-title">
        {{post.title}}
       </p>
      
       <p class="card-header-title is-justify-content-flex-end">Created By
        {{post.user.name}}
        at
        {{format_date post.date_created}}
       </p>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <p>{{post.content}}</p>
      </div>
    </div>


    <footer class="card-footer">
     {{!-- Added comments --}}
      {{#if post.comments.length}} 
     <div class="card-content">
      <p class="card-header-title">Comments:</p>
       {{#each post.comments as |comment|}}
      <div class="content">
        {{comment.content}}
        
        <br>
        Posted by {{comment.user.name}}
        <br>
        <time datetime="2016-1-1">{{format_date comment.date_created}}</time>
      </div>
      {{/each}}
    </div>
     {{/if}}  
    </footer>

</div>
<form class="box newcommentform" id="newcomment-form">
    <div class="field is-large">
      <label for="newcomment" class="form-label">Add Your Comment</label>
      <div class="control">
        <textarea
          id="newcomment"
          name="newcomment"
          class="input"
          type="text"
          placeholder="Comment..."
        ></textarea>
      </div>
    </div>
      {{!-- hidden inputs for adding comment --}}
       <input 
          type="hidden"
          class="form-control"
          id="user_id"
          value={{user_id}}
        />
        <input
          type="hidden"
          class="form-control"
          id="post_id"
          value={{post.id}}
        />
    <button type="submit" class="button is-success">Submit Comment</button>
  </form>

<script src="../js/comment.js"></script>
